@import "colors";

* {
  box-sizing: border-box;
}

::selection {
  background: $gold;
}

.App {
  text-align: center;
  background-color: $black;
  min-height: 100vh;
  color: $floral-white;
  justify-content: center;
  overflow: hidden;
}

.loader {
  border: 8px solid $red;
  border-top: 8px solid $gold;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.row.header {
  margin-top: 24px;
  margin-bottom: 24px;
}

.col-md-8.navigation {
  margin-top: 10px;
}

.col-md-2.navigation {
  margin-top: 10px;
  // color: $white;
}

a.navigation-social {
  color: $floral-white;
}

a.footer-social {
  color: $floral-white;
  // font-size: 18px;
  // padding: 0px 5px 0px 5px;
}

a:hover {
  color: $gold !important;
  /* text-decoration: none !important; */
}

.cursive {
  font-size: 20px;
  padding-top: 10px;
  color: $gold;
  /* color: $floral-white;  */
  // font-family: 'Brush Script MT', cursive;
  font-weight: 500;
  margin-bottom: 1rem;
  cursor: pointer;
  user-select: none;
}

.cursive-logo {
  font-size: 30px;
  padding-left: 70px;
  padding-top: 10px;
  color: $gold;
  // font-family: 'Brush Script MT', cursive;
  font-weight: 500;
  cursor: pointer;
}

.salon {
  width: -webkit-fill-available;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

@keyframes type {
  from {
    width: 0;
  }
}

.navigation-wrapper{

  border-bottom: solid;
  border-color: $gold;
  // padding-bottom: 10px;
  margin-bottom: 16px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  color: $white;

}

.nav-link {
  text-decoration: none;
  color: $floral-white;
  text-transform: uppercase;
  margin-right: 25px;
  transition: all 0.5s ease-out;
}

.nav-links {
  display: inline-flex;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  list-style: none !important;
  text-align: center;
}

.mobile-menu-icon {
  display: none;
}

.nav-bar {
  display: inline-flex;
}

.nav-link:hover {
  color: $gold;
  font-size: large;
}

a.home,
a.services,
a.gallery,
a.schedule,
a.about,
a.contact {
  margin-right: 25px;
  text-decoration: none;
  color: $floral-white;
  text-transform: uppercase;
  // margin-right: 25px;
  transition: all 0.5s ease-out;
}

a.schedule{
  display: none;
}

a.home.active,
a.services.active,
a.gallery.active,
a.about.active,
a.contact.active {
  color: $gold !important;
  // border-bottom: solid;
  border-color: $gold;
  border-width: thin;
}

.icons{
  text-align: end;
  padding-right: 70px;
}

.nav-links-mobile {
  --tw-bg-opacity: 1;
  display: inline-flex;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  list-style: none !important;
  text-align: center;
}

.mobile-menu-icon {
  display: none;
}

a.home,
a.services,
a.gallery,
a.about,
a.contact {
  margin-right: 25px;
  text-decoration: none;
  color: $floral-white;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
}

a.home {
  margin-left: 25px;
}

.nav-mobile {
  background-color: transparent;
  color: $white;
  border: none;
  display: none !important;
}

.nav-mobile:hover {
  color: $gold;
  font-size: large;
}

/* Pictures */

#engagement {
  max-width: 100%;
  flex-basis: 70%;
  border-radius: 25px;
  // animation: fadeIn 5s;
}

#next{
  width: 100%;
  height: auto;
  border-radius: 25px;
  // padding: 0px 12px 0px 12px;
}

.home-img{
  width: 100%;
  height: auto;
  border-radius: 25px;
  max-width: 100%;
  // padding: 0px 12px 0px 12px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ABOUT //

.emoji {
  font-size: 2.5rem;
}

.about-wrapper {
  margin-top: 24px;
}

.footer {
  margin-top: 25px;
}

.emoji_ {
  font-size: 34px;
  margin: 6px 5px 6px 5px;
  text-align: center;
}

// credit to: https://jarv.is/notes/css-waving-hand-emoji/
.wave {
  font-size: 32px;
  margin: 6px 5px 6px 5px;
  text-align: center;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

// TABLET
@media screen and (max-width: 1420px) {

  // .navigation-wrapper{
  //   padding-bottom: 20px
  // }
  .navigation-wrapper{

    border-bottom: none;
  }
}


//  MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE

@media screen and (max-width: 900px) {
  .navigation-wrapper{
    border-bottom: solid;
    border-color: $gold;
    padding-bottom: 0px
  }

  .nav-link {
    width: 100%;
  }

  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // height: 75px;
  }

  .cursive-logo {
    color: $gold;
    // font-family: 'Brush Script MT', cursive;
    font-weight: 500;
    padding-left:30px;
  }

  .nav-mobile {
    background-color: transparent !important;
    color: $white !important;
    border: none;
    display: block !important;
    list-style: none;
    position: absolute;
    left: 0;
    // top: 75px;
    transition: all 0.5x ease-out;
    width: 100%;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    // background-color: blueviolet;
    background-color: black;
    left: 0;
    top: 75px;
    transition: all 0.5x ease-out;
    width: 100%;
    min-height: 100vh;
    border-top: solid;
    border-color: $gold;
  }

// .schedule{
//   display: block !important;
// }

  .home,
  .schedule,
  .services,
  .gallery,
  .about
  .contact {
    color: $white;
    text-align: center;
    padding: 0px;
    width: 100%;
    // transition: all 0.5x ease-out;
  }


  a.home.active,
  a.schedule,
  a.services.active,
  a.gallery.active,
  a.about.active,
  a.contact.active {
    color: $gold !important;
    border-bottom: none;
  }
  
  a.schedule {
    display: initial;
    color: $white !important; //need to fix this
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: $white;
    background-color: transparent;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }

  #engagement {
    animation: none;
  }

  .icons {
    display: none;
  }

  a.footer-social {
    color: $floral-white;
    font-size: 18px;
    padding: 0px 5px 0px 5px;
    margin-bottom: 1rem;
  }
}
