@import "colors";

.App {
  text-align: center;
  background-color: $black;
  min-height: 100vh;
  color: $floral-white;
  justify-content: center;
  overflow: hidden;
  /* background-image: url('./images/large_hair_image.png'); */
  /* background-repeat: no-repeat;  */
}

.row.header {
  margin-top: 24px;
  margin-bottom: 24px;
}

.col-md-8.navigation {
  margin-top: 10px;
}

.col-md-2.navigation {
  margin-top: 10px;
  // color: $white;
}

a.social {
  color: $floral-white;
}

a:hover {
  color: $gold !important;
  /* text-decoration: none !important; */
}

.cursive {
  padding-top: 10px;
  color: $gold;
  /* color: floralwhite;  */
  font-family: Vladimir Script;
  font-weight: 500;
}

.salon {
  width: -webkit-fill-available;
}

// .container{
//   background-image: url('./images/salon.avif');
//   width: 100%;
// }

/* Container holding the image and the text */
// .container {
//   position: relative;
//   text-align: center;
//   color: white;
// }



// .about{
//   display: flex;
// }

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// p{
//   color: Pink; 
//   font-family: "Courier";
//   font-size: 20px;
//   margin: 10px 0 0 10px;
//   white-space: nowrap;
//   overflow: hidden;
//   width: 30em;
//   animation: type 4s steps(60, end); 
// }

@keyframes type{ 
  from { width: 0; } 
} 

/* 
#period{
  color: $white;
} */

.nav-link {
  text-decoration: none;
  color: floralwhite;
  text-transform: uppercase;
  margin-right: 25px;
  transition: all 0.5s ease-out;
  /* animation: 10s slide-up; */
}

/* .nav-link.active{
  color: red;
} */

// nav_
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  // background-color: red;
  color: white;
}

// .logo {
//   font-size: 30px;
// }

.nav-links{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  width: 65%;
  margin-right: 25px;
}

.mobile-menu-icon{
  display: none;
}

///
.nav-bar{
  display: inline-flex;
}

.nav-link:hover {
  color: $gold;
  font-size: large;
  // text-decoration: underline;
  /* background-color: $white; */
}


a.home,
a.services,
a.gallery,
a.about{
  margin-right: 25px;

  text-decoration: none;
  color: floralwhite;
  text-transform: uppercase;
  // margin-right: 25px;
  transition: all 0.5s ease-out;
}

.nav-link.active {
  color: $gold !important;
  border-bottom: solid;
  border-color: $gold;
  border-width: thin;
  // text-decoration: underline !important;
  /* font-size: large; */
}

.nav-mobile{
  background-color: transparent;
  color: $white;
  border: none;
  display: none !important;
}

.nav-mobile:hover{
  color: $gold;
  font-size: large;
}

/* .nav-link.inactive {
  font-style: italic;
} */

/* Pictures */

#engagement {
  max-width: 100%;
  flex-basis: 70%;
  border-radius: 25px;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ABOUT //

.emoji {
  font-size: 2.5rem;
}

.about-wrapper {
  margin-top: 40px;
}

// .about-description {
//   // word-wrap: break-word;
//   // padding: 25px;
//   // margin:25px;
//   /* padding-left: 70px !important; */
// }

.footer {
  margin-top: 25px;
}

.emoji_ {
  font-size: 34px;
  margin: 6px 5px 6px 5px;
  text-align: center;
}


// credit to: https://jarv.is/notes/css-waving-hand-emoji/
.wave {
  font-size: 32px;
  margin: 6px 5px 6px 5px;
  text-align: center;
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@media screen and (max-width:780px){
  .nav-list{
    display: none !important;
  }

  .nav-link{
    width: 100%;
  }

  .nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
  }

  //22.28
  .nav-list-mobile{
    position: absolute;
    display: block !important;
    list-style: none;
    left: 0;
    top: 75px;
    transition: all 0.5x ease-out;
    width: 100%;
  }

  .nav-mobile{
    background-color: transparent !important;
    color: $white !important;
    border: none;
    display: block !important;
    list-style: none;
    position: absolute;
    left: 0;
    top: 75px;
    transition: all 0.5x ease-out;
    width: 100%;

    // justify-content: flex-end;
    // justify-content: right !important;
    // display: none;
  }

  // .navigation-wrapper{
  //   display: none !important;
  // }

  // .logo{
  //   display: flex;
  //   position: absolute;
  //   top: 15px;
  //   left: 35px;
  // }

  .nav-links{
    display: none
  }

  .nav-links-mobile{
    position: absolute;
    display: block;
    list-style: none;
    background-color: blueviolet;
    left: 0;
    top: 75px;
    transition: all 0.5x ease-out;
    width: 100%;
  }

  .home,
  .services,
  .gallery,
  .about {
    color:white;
    text-align: center;
    padding: 32px;
    width: 100%; 
    transition: all 0.5x ease-out;
  }

  .mobile-menu-icon{
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: red;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }

  .icons{
    display: none;
  }
}