@import "colors";

.cursive-logo {
  font-size: 30px;
  padding-left: 24px;
  padding-top: 10px;
  color: $gold;
  font-family: Vladimir Script;
  font-weight: 500;
}


.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  // background-color: blue;
  color: white;
}

.nav-links{
  display: inline-flex;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  list-style: none !important;
  text-align: center;
}

a.home.active,
a.services.active,
a.gallery.active,
a.about.active{
  color: $gold !important;
  border-bottom: solid;
  border-color: $gold;
  border-width: thin;
}

.nav-links-mobile{
  display: inline-flex;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  list-style: none !important;
  text-align: center;
}

.mobile-menu-icon{
  display: none;
}

a.home,
a.services,
a.gallery,
a.about{
  margin-right: 25px;
  text-decoration: none;
  color: floralwhite;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
}

a.home{
  margin-left: 25px;
}

.nav-mobile{
  background-color: transparent;
  color: $white;
  border: none;
  display: none !important;
}


@media screen and (max-width:780px){
  .nav-link{
    width: 100%;
  }

  .nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
  }

  .cursive-logo{
    color: $gold;
    font-family: Vladimir Script;
    font-weight: 500;
  }

  .nav-links{
    display: none
  }

  .nav-links-mobile{
    position: absolute;
    display: block;
    list-style: none;
    // background-color: blueviolet;
    background-color: black;
    left: 0;
    top: 75px;
    transition: all 0.5x ease-out;
    width: 100%;
  }

  a.home.active,
  a.services.active,
  a.gallery.active,
  a.about.active{
  color: $gold !important;
  border-bottom: none;
}

  .home,
  .services,
  .gallery,
  .about {
    color:white;
    text-align: center;
    padding: 32px;
    width: 100%; 
    transition: all 0.5x ease-out;
  }

  .mobile-menu-icon{
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }

  // EXTRA STUFF

  #engagement{
    animation: none;
  }

  .navigation-wrapper{
    margin-bottom: 125px;
  }
}