
.App {
  text-align: center;
  background-color: #000;
  /* background-image: url('./images/large_hair_image.png'); */
  /* background-repeat: no-repeat;  */
  min-height: 100vh;
  color: #fff;
  justify-content: center;
  overflow: hidden;
}
  
.row.header{
  margin-top: 24px;
  margin-bottom: 24px;
}

.col-md-6.navigation{
  margin-top: 10px;
}

.col-md-2.navigation{
  margin-top: 10px;
  color: #fff;
}

a.social{
  color: floralwhite;
}

a:hover{
  color: #fcb900 !important;
  /* text-decoration: none !important; */
}

#cursive {
  padding-top: 10px;
  color: #fcb900;
  /* color: floralwhite;  */
  font-family: Vladimir Script;
  font-weight: 500;
}
/* 
#period{
  color: #fff;
} */

.nav-link {
  text-decoration: none;
  color: floralwhite; 
  text-transform: uppercase;
  margin-right: 25px;
  /* animation: 10s slide-up; */
  transition: all 0.5s ease-out;
}

/* .nav-link.active{
  color: red;
} */

.nav-link:hover {
  color: #fcb900;
  text-decoration: underline;
  font-size: large;
  /* background-color: #fff; */
}

.nav-link.active {
  color: #fcb900 !important;
  text-decoration: underline !important;
  /* font-size: large; */
}

/* .nav-link.inactive {
  font-style: italic;
} */

/* Pictures */

#engagement{
  border-radius: 25px;
}

.about-wrapper{
  margin-top: 40px
}

.about-description{
  padding-top: 25px;
  /* padding-left: 70px !important; */
}